*
{
  margin :0;
  padding :0;
  box-sizing: border-box;
}

body
{
    font-size: 15pt;
    width:min(100%,480px);
    height :100vh;
    transition :all .2s ease-in-out ;
    font-family: 'Varela Round', sans-serif;
    background : #252525;
}

header 
{
  width:min(100%,480px);
  text-align :left ;
  padding :15px ;
  position :fixed;
  top: 10px;
  left :0;
  z-index :10;
  background : #252525 ;
}

header h1 
{
  padding :10px ;
  font-size :1.3em ;
  color :#FFFFFF ;
}

header input 
{
  padding :10px ;
  border-radius :5px ;
  width :100%;
  font-family: 'Varela Round', sans-serif;
  outline :none ;
  border :1px solid #F1F1F1 ;
  font-size :.8em ;
  font-weight :700 ;
}




.container 
{
 width:min(100%,480px);
 height :auto ;
 display :flex;
 flex-wrap: wrap ;
 justify-content :flex-start ;
 align-items :center ;
 margin :35% auto 0 ;
 padding-bottom:170px;
}



.card__
{
  width :100%;
  height :50px;
  display :flex ;
  justify-content :flex-start ;
  align-items :center ;
  margin :10px ;
}

.hide
{
  display :none;
}

.audio_img 
{
  width :13%;
  height :100%;
}

.audio_img img 
{
  width :100%;
  height :100%;
  object-fit :cover ;
}


.details 
{
  width :80%;
  height :100%;
  text-align :left ;
  text-overflow: ellipsis ;
  padding :7px ;
}

.details h5 
{
  color: #FFFFFF ;
  text-transform :capitalize ;
}
.details p
{
  color : #BCC4C8 ;
  font-size :.7em ;
  text-transform :capitalize ;
}

.addToLibrary 
{
  position :relative ;
}

.addToLibrary button 
{
  background :transparent ;
  border :1px solid transparent ;
  outline :none ;
  color :#FFFFFF ;
  
}




.feedback_wrapper
{
  width :80%;
  background :#FFFFFF ;
  position :fixed ;
  bottom :25%;
  left:10%;
  height :35px;
  border-radius :10px ;
  margin :10px auto 0 ;
  text-align :center ;
  padding :5px ;
  display :none ;
}

.feedback_wrapper.active 
{
  display: block ;
}

.feedback_wrapper span 
{
  line-height :1;
  font-size :.7em;
}







 .showPlayingWrapper
{
  position :fixed ;
  width:min(100%,480px);
  bottom:60px;
  display :flex ;
  justify-content :flex-start ;
  align-items :center ;
  background : #575B61 ;
  overflow :hidden ;
  box-shadow :0 0 2px rgba(188,189,200,1);
   background :#252525 ;
  height:0;
  overflow :hidden ;
  transition: height .2s ease-in-out ;
}

.showPlayingWrapper.active 
{
  height :65px;
  transition: height .2s ease-in-out ;
}

.showPlayingImg
{
  width: 25%;
  height :100%;
  
}
.showPlayingImg img 
{
  width :100%;
  height :100%;
  object-fit :cover ;
}

.showPlayingDetails 
{
 max-width: 65%;
 min-width :65%;
 padding :10px ;
 text-align :center ;
} 
.showPlayingDetails h5 
{
  color: #FFFFFF ;
  font-size :.7em ;
  padding :5px ;
  text-transform :capitalize ;
}

.showPlayingDetails p
{
  color : #BCC4C8 ;
  padding :5px ;
  font-size :.7em ;
  text-transform :capitalize ;
}

 .playPause 
{
  width :20%;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  height :100%;
  padding :5px ;
}
.playPause button 
{
  outline: none;
  border-radius :50%;
  background:transparent ;
  border :1px solid transparent ;
  color :#FFFFFF ;
  font-size :1.8em ;
  padding :5px ;
  display :inline-block ;
}

.playPause #loop
{
 background : rgba(183,185,190,.3);
 color :rgba(183,185,190,.3) ;
 border :1px solid transparent ;
 font-size :1em ;
 transition :color .2s ease-in-out ;
}

#loop.loop_on 
{
  color :#FFFFFF ;
  transition :color .2s ease-in-out ;
}





.nav_bottom
{
  width :min(100%,480px);
  position :fixed ;
  bottom :0 ;
  left :0 ;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  z-index :10;
  padding :10px ;
  background : rgba(22,23,29,.8);
}

.nav_btn 
{
  display :flex;
  justify-content :center ;
  align-items :center ;
  flex-direction :column ;
  flex-grow :1 ;
}


.nav_btn button 
{
  outline: none ;
  background :transparent ;
  color :#FFFFFF ;
  border :1px solid transparent ;
  font-size :1.5em;
}
.nav_btn .active
{
  font-variation-settings:
  'FILL' 10,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.nav_btn button a 
{
  outline:none ;
  color :#FFFFFF ;
  text-decoration :none ;
}

.nav_btn span 
{
  font-size:.5em;
  color : #B7B9BE;
}


#container div 
{
  margin :10px ;
}
